body, html {
  height: 100%;
  margin: 0;
  
}
.btn-tray{
position: absolute;
right: 100px;
z-index: 1;
}
.form{
margin: 0;
padding: 0;
}
.user-button{
margin: 8px 2px;
}

.container {
  position: absolute;
  width: 100%;
}

/* The navbar */
.topnav {
  overflow: hidden;
  
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  color:#f2f2f2;
  -webkit-transform: scale(1.1); 
transform: scale(1.1); 
transition-duration: 0.3s;
}

/* header image */
.header-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header.png");

/* Set a specific height */
height: 90%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;


}

/* Place text in the middle of the image */
.header-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
.title{
font-family:"montserrat" ;
text-align: center;
color: white;
}

.text-hov{
font-family: 'Source Sans Pro', sans-serif;
font-size: 65px;
font-weight: 600;
}

.text-hov:hover{

  color: white;
  -webkit-transform: scale(1.1); 
transform: scale(1.1); 
transition-duration: 0.3s;
}




.user-button:hover{
  -webkit-transform: scale(1.1); 
transform: scale(1.1); 
transition-duration: 0.3s;
}

/* ------------------------------------------------------------------------------------------- */

.slogan{
font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: 600;
text-align: center;
color: black;
padding-top: 40px;
margin-bottom: .5rem;

}

/* --------------------------------------------------------------------------------------------- */
hr{
border-style: solid;
border-color: grey;
border-width: 2px;
margin: 40px auto 0;
width: 70%;
}
.row{
margin-right: 0;
}
.column {
text-align: center;
width: 50%;
 
}
.column-about{
padding: 7% 7% 4% 2%;
}
.about-img{
width: 60%;
margin: 10%;
border-radius:20%
}
.about-img:hover{
-webkit-transform: scale(1.1); 
transform: scale(1.1); 
transition-duration: 0.5s;
}
/* About Us Heading */
.about-us{
font-family: "merriweather";
font-size: 60px;
margin-bottom: .5rem;
text-align: center;
text-decoration: underline;

}
/* About Us paragraph*/
.about-text{
padding-top: 10px;
font-family:"montserrat" ;
font-size: 20px;
text-align:center;

}
/* ----------------------------------------Gallery--------------------------------------- */

.gal-heading{
font-family: "merriweather";
text-align: center;
padding-top: 20px;
text-decoration: underline;
}

.cont{
margin-top: 50px;
padding:3% 19%;
background-color:#fdecd3;

}

.col-3{
padding:0;
margin:0;
text-align: center;
}

.gal-img{
width: 250px;
height: 250px;
padding: 6px;
}

.gal-img:hover{
-webkit-transform: scale(1.1); 
transform: scale(1.1); 
transition-duration: 0.5s;
}

.top{
position:absolute;
right:10px;

color: black;
}


